<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}chicks{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body style="min-width: 850px; ">
        <div style="background-color: #26d0c9;  text-align: center;">
            <div class="container">
                <footer class="py-3 my-4">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a href="{% url 'assignmentapp:index' %}" class="nav-link px-2 text-body-secondary">ホーム</a></li>
                        <li class="nav-item"><a href="{% url 'chicks:index' %}" class="nav-link px-2 text-body-secondary">chicks</a></li>
                        <li class="nav-item"><a href="{% url 'chicks:contact' %}" class="nav-link px-2 text-body-secondary">ご意見・ご要望</a></li>
                        <li class="nav-item"><a href="{% url 'password_reset' %}" class="nav-link px-2 text-body-secondary">パスワードのリセット</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a href="{% url 'chicks:mypage' %}" class="nav-link px-2 text-body-secondary">マイページ</a></li>
                        <li class="nav-item"><a href="{% url 'chicks:post' %}" class="nav-link px-2 text-body-secondary">投稿</a></li>
                        <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link px-2 text-body-secondary">ログアウト</a></li>
                        <li class="nav-item"><a href="{% url 'chicks:category_post' %}" class="nav-link px-2 text-body-secondary">カテゴリー登録</a></li>
                        {% else %}
                        <li class="nav-item"><a href="{% url 'accounts:login' %}" class="nav-link px-2 text-body-secondary">ログイン</a></li>
                        {% endif %}
                    </ul>
                </footer>
            </div>
        </div>
        
        {% block contents %}{% endblock %}
        
        <div style="display: flex; align-items: flex-end; background-color: #2f5167; color:#fff;height: 120px;">
            <small style="margin-left: auto;">&copy; 2023.citrus.junos</small>
        </div>
    </body>
    </html>