{% extends 'diary_base.html' %}
{% block title %}Comment Datail{% endblock %}
    {% block contents %}
    <div class="container">
        <div class="row">
            <div class="col offset-3">
                <h2>{{ChickPost.title}}</h2>
                <p>{{ChickPost.sentence}}</p>
                <br>
                <p>{{ChickPost.posted_at}}に投稿</p>
                {% if ChickPost.image %}
                <p><img src="{{ ChickPost.image.url }}" style="max-width: 200px;"></p>
                {% endif %}
                {% if request.user == ChickPost.user %}
                    <form method="POST">
                        <a href="{% url 'diary:diary_delete' ChickPost.pk %}" class="btn btn-primary my-2">削除する</a>
                    </form>
                {% endif %}
                <p>{{ChickPost.user}}</p>
            </div>
        </div>
    </div>
    <br>
    <h3 style="text-align: center;">{{ Comment|length }}件のいいね</h3>
    <br>
            {% if user.is_authenticated %}
            <div class="container">
                <div class="row">
                    <div class="col offset-3">
                        <button type="button" class="btn btn-primary my-2" onclick="location.href='{% url 'diary:diarygood_post' ChickPost.id %}'">いいねする</button>
                    </div>
                </div>
            </div>            
            {% endif %}
        </div>
    </div>
    {% endblock %}
